<h1>{{singleUser.name}}</h1>


<p>Age: {{singleUser.age}}</p>


<a href="/user/edit/{{singleUser._id}}">
    <button>
    Edit User
    </button>
</a>

<a href="/concert/new/{{singleUser._id}}">
    <button>
    Create Concert For User
    </button>
</a>



<form action="/user/{{singleUser._id}}?_method=DELETE" method="POST">
    <input type="submit" value="Delete User"/>
</form>

{{#each userConcerts}}
    <p>{{name}}</p>
    <img src="{{picture}}" height="250"/>
{{/each}}